<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ES6实战</title>
</head>

<body>
<p>欢迎学习</p>
<p>hello world</p>
<p>你好ES6</p>
<script src="../js/index.js" charset="utf-8"></script>
</body>

</html>